services:
  - class: org.yamcs.archive.XtceTmRecorder
  - class: org.yamcs.archive.ParameterRecorder
  - class: org.yamcs.archive.AlarmRecorder
  - class: org.yamcs.archive.EventRecorder
  - class: org.yamcs.archive.ReplayServer
  - class: org.yamcs.parameter.SystemParametersService
    args:
      producers:
        - fs
        - jvm
  - class: org.yamcs.ProcessorCreatorService
    args:
      name: realtime
      type: realtime
  - class: org.yamcs.archive.CommandHistoryRecorder
  - class: org.yamcs.parameterarchive.ParameterArchive
    args:
      realtimeFiller:
        enabled: true
  - class: org.yamcs.plists.ParameterListService
  - class: org.yamcs.timeline.TimelineService

dataLinks:
  - name: UDP_TM_IN
    class: org.yamcs.tctm.ccsds.UdpTmFrameLink
    port: @TM_PORT@
    frameType: "TM"
    spacecraftId: @SPACECRAFT_ID@
    frameLength: @FRAME_LENGTH@
    errorDetection: CRC16
    virtualChannels:
      - vcId: 1
        ocfPresent: false
        service: "PACKET"
        maxPacketLength: @FRAME_LENGTH@
        packetPreprocessorClassName: org.yamcs.tctm.cfs.CfsPacketPreprocessor
        packetPreprocessorArgs:
          useLocalGenerationTime: true
        stream: "tm_realtime"

  - name: UDP_TC_OUT
    class: org.yamcs.tctm.ccsds.UdpTcFrameLink
    host: host.docker.internal
    port: @TC_PORT@
    spacecraftId: @SPACECRAFT_ID@
    maxFrameLength: @FRAME_LENGTH@
    errorDetection: CRC16
    virtualChannels:
      - vcId: 1
        ocfPresent: false
        service: "PACKET"
        priority: 1
        stream: "tc_realtime"
        useCop1: false

mdb:
  - type: xtce
    args:
      file: /yamcs-config/mdb/@MDB_FILE@
  - type: xtce
    args:
      file: /yamcs-config/mdb/ground-control.xtce.xml

streamConfig:
  tm:
    - name: "tm_realtime"
      processor: "realtime"
      rootContainer: "@TM_ROOT_CONTAINER@"
    - name: "tm_dump"
  cmdHist: ["cmdhist_realtime", "cmdhist_dump"]
  event: ["events_realtime", "events_dump"]
  param: ["pp_realtime", "pp_dump", "sys_param", "proc_param"]
  parameterAlarm: ["alarms_realtime"]
  tc:
    - name: "tc_realtime"
      processor: "realtime"
